.block {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

[contenteditable] {
    outline: 0px solid transparent;
}

#mainEditor {
    min-width: 300px;
    min-height: 56px;
}

.actions {
    overflow: hidden;
}

.actions i {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
}

.actions i:hover {
    color: gray;
    cursor: pointer;
}

.right {
    float: right;
}

#debugView {
    max-height: 300px;
    overflow: auto;
}

.error {
    color: darkred;
}
.warning {
    color: darkorange;
}
.info {
    color: darkolivegreen;
}
.debug {
    color: dimgray;
}
.log {
    color: darkgray;
}
