.block {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

[contenteditable] {
    outline: 0px solid transparent;
}

#mainEditor {
    min-width: 300px;
    min-height: 56px;
}

.actions {
    overflow: hidden;
}

.actions a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
}

.actions a:hover {
    color: gray;
}

.right {
    float: right;
}
